<div class="FirstView">
  <section class="Container">
    <h2 class="FirstViewTitle">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>
</section>
</div>
<%= render "layouts/shared/footer" %>
