<div class="FirstView">
  <section class="container">
    <h2 class="FirstViewTitle">
    <p class="mx-lg-4">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </p>
    </h2>
</section>
</div>
<%= render "layouts/shared/footer" %>
