<section class="OwnRoomsContainer">
<h2>登録済みの部屋一覧</h2>
<div class="table-responsive">
  <table class="table OwnRoomsTable">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>
<%= render 'layouts/shared/footer' %>
